body {
  background-color: #A1A1A1;  
  color: #4B4B4B;    
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-bottom:40px; 
  padding-top:20px; 
}

h1, h2 , h3, h4, h5, p, li {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #4B4B4B;
  margin: 0;
  padding: 0;
}
i {
  margin-right: 3px;
}
a:hover {
  color: #006291;
  text-decoration: none;
}

/* container */
.container-fluid  { 
  max-width: 860px; 
  margin: 0 auto;
}
.wrapper {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
     -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.30), 0 0 40px rgba(0, 0, 0, 0.10) inset;  
  padding: 50px 40px 19px 40px;  
}
.my-info, 
.my-message, 
.my-skill, 
.my-specifics, 
.my-venture, 
.my-venture > span {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

.my-venture {
    font-style: italic;
}


.contact, 
.heading, 
#portfolio, 
.resume {
  margin: 0 0 65px 0;  
}


/* the header portion */
.my-picture {
  background-color: #FFFFFF;
  border: 1px solid #C0C0C0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 0 20px 5px 0;
  padding: 4px;
}
.my-name {
  color: #4A4A4A;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
}
/*.my-profession,*/
.my-services {
  font-size: 16px; 
  line-height: 34px;
}
.my-profession {
  color: #389B17;
  font-size: 15px;
}
.my-services {
  margin-top: 12px;
}
.my-services > a {
  float: right; 
}

.umd-logo {
    font-family: Georgia;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.umd-logo span {
    /*font-size: 11px;
    margin-left: 52px;*/
    font-size: 17px;
    margin-left: 80px;
}

/* resume */
.my-caption {
  border-bottom: 1px dotted #389B17;
  color: #389B17;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
  text-transform: uppercase;
}
.wrapper > .my-caption {
  margin-bottom: 11px;
}
.my-activity {
  font-size: 13px;
  font-weight: 600;
  margin-top: 4px;
}
.my-venture > span {
  float: right;
}
.my-specifics {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 11px;
}

.my-publication {
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
}

.my-publication .me-author {
    font-weight: bold;
}

.my-publication .journal {
    font-style: italic;
}

.my-skill {
  padding-top: 1px;
  font-weight: 400;
}
.my-skill + .my-skill {
  padding-bottom: -1px;
}
.my-skill > span {
  float: right;
  font-size: 10px;
  font-weight: 400;
  margin: 1px 0 0 0;
  padding: 0;
}
.my-caption + .my-activity, 
.my-caption + .my-venture,
.my-caption + .my-specifics, 
.my-caption + .my-skill, 
.my-caption + .my-info {
    margin-top: 5px;
}
.my-caption + .my-skill {
    margin-top: 4px;
}

/* portfolio */
#portfolio {
  margin-bottom: 40px;
}
.portfolio-item {
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: top;
  width: 215px;
}
.portfolio-item > img {
  max-width: 100%;
  margin-bottom: -1px;
}
.portfolio-details {
  border: 1px solid #D1D1D1;
  padding: 12px 12px 10px 12px;
}
.portfolio-details > h4 {
  color: #3c3c3c;
  font-size: 12px; 
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3px;
  text-transform: uppercase;
  text-align: center;
}
.portfolio-details > p {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 5px;
}
.portfolio-details > p + img {
  margin-top: 10px;
  margin-bottom: 5px;
}
.portfolio-details > h4 + img {
  margin-top: 7px;
  margin-bottom: 5px;
}
.portfolio-details > img + h4 {
   margin-top: 10px;
}
.portfolio-details a {
  font-size: 13px;
  font-weight: 400;
}
.portfolio-details i {
  font-size: 13px;
  font-weight: normal;
}

.portfolio-details .avatar {
  text-align: center;
}

.portfolio-links {
  margin-top: 10px !important;
}

/* contact tab */
#my-location {
  border: 1px solid #D8D8D8;
  height: 200px;
  margin-bottom: 5px;
  width: 100%;
}
#my-location img {
    max-width: none;
}
.my-info {
  height: 20px; 
  display: block;
}
.my-info > span {
  float: right;
}


@media (min-width: 768px) and (max-width: 979px) {

  .wrapper {
    padding: 50px 30px 19px 30px;  
  }

}

@media (min-width: 768px) and (max-width: 768px) {
  
  body {
    padding: 0;
  }
  .wrapper {
    padding: 50px 30px 19px 30px;  
  }

}

@media (min-width: 569px) and (max-width: 767px) {
  
  body {
    padding: 0;
  }
  .wrapper {
    padding: 40px 30px 0px 30px;  
  }
  .contact, 
  .heading, 
  #portfolio, 
  .resume {
    margin: 0 0 25px 0;  
  }

}

@media (min-width: 240px) and (max-width: 568px) {

  body {
    padding: 0;
  }
  .wrapper {
    padding: 25px 20px 0px 20px;  
  }
  .contact, 
  .heading, 
  #portfolio, 
  .resume {
    margin: 0 0 25px 0;  
  }
  .my-picture {
    width: 70px;
    margin: 0px 10px 0px 0px;
  }
  .my-name {
    font-size: 16px; 
    line-height: 20px;
  }
  .my-profession {
    font-size: 14px;
    line-height: 24px;
  }
  .my-services {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
  }
  .my-message, 
  .my-servicetext {
    line-height: 16px; 
  }

}

@font-face {
    font-family: 'bauhaus-light';
    src:url('../font/03957_BauhausLightBT.eot?-4g15u5');
    src:url('../font/03957_BauhausLightBT.eot?#iefix-4g15u5') format('embedded-opentype'),
    url('../font/03957_BauhausLightBT.woff') format('woff'),
    url('../font/03957_BauhausLightBT.ttf') format('truetype'),
    url('../font/03957_BauhausLightBT.svg?-4g15u5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bauhaus-medium';
    src:url('../font/03958_BauhausMediumBT.eot?-4g15u5');
    src:url('../font/03958_BauhausMediumBT.eot?#iefix-4g15u5') format('embedded-opentype'),
    url('../font/03958_BauhausMediumBT.woff') format('woff'),
    url('../font/03958_BauhausMediumBT.ttf') format('truetype'),
    url('../font/03958_BauhausMediumBT.svg?-4g15u5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.epiviz {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /*font-size: 1.25em;*/

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.epiviz:before {
    font-family: 'bauhaus-medium';
    content: "Epi";
}

.epiviz:after {
    font-family: 'bauhaus-light';
    content: "viz";
}

